{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'Master'|trans %}

{% block navButtons %}
    {% if is_granted('contact.master_create') %}
        <div class="btn-group">
            {{ UI.addButton({
            'path': path('contact.master_create'),
            'entity_label': 'Master'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}